/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.inline{
   display: inline-block;
}

.right_image{
   width: 100%;
}

.inputGroup{
   height: 80%;
}

.fullWidth{
   width: 100%;
}

.loginPage_input{
   height: 50px;
   border: 0;
   background-color: rgb(236, 236, 236);
}

.above_inputs{
   font-size: smaller;
}

.login_button{
   height: 50px;
   border: 0;
   background-color: rgb(255, 111, 71);
   color: white;
}

.with_icon{
   display: flex;
   align-items: center;
   height: 50px;
   border: 0;
   background-color: rgb(236, 236, 236);
   border-radius: 4px;
}

i{
   margin-left: 5px;
}

i:hover{
   cursor: pointer;
}

.font_weight-norm{
   font-weight: normal;
}

.bottom_text{
   font-size: smaller;
   color: rgb(172, 172, 172);
} */
