.modal_window{
   width: 430px;
   font-family: Gill Sans, sans-serif, serif;
}

.modal_window .form-row{
   width: 430px;
}

.modal_window .top_text{
   font-weight: bold;
}

.modal_window .google_button{
   border: 3px solid black;
   font-weight: bold;
}

.modal_window .google_button:hover{
   cursor: pointer;
   background-color: #fff;
   color: #343a40;
}

.modal_window .or_text{
   color: grey;
   margin-bottom: 0;
}

.googleImage{
   width: 15px;
   height: 15px;
	margin-bottom	: 3px;
}

.form-control{
   border: 3px solid black;
   display: inline;
   height: 45px;
   font-size: small;
   font-weight: 500;
}

.additional{
   font-size: small;
}

.bottom_text{
   color: grey;
}

.login_button{
   color: white;
   background-color: black;
   font-weight: bold;
   height: 45px;
}

.login_button:hover{
   cursor: pointer;
   background-color: black;
   color: white;
}